// 字体定义规范
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;

// color
$white: #fff;
$white-o: rgba(255, 255, 255, .1);
$white-t: rgba(255, 255, 255, .3);
$white-f: rgba(255, 255, 255, .5);
$white-e: rgba(255, 255, 255, .8);
$black: #000;
$black-w: rgba(0, 0, 0, .2);
$black-t: rgba(0, 0, 0, .3);
$black-f: rgba(0, 0, 0, .5);
$black-e: rgba(0, 0, 0, .8);

// sidebar
$bodyColor: #ededed;
$themeColor: #00b4ff;
$menuBg: #1f4061;
